@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    /*#colors*/
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    margin: 7.4rem 2.4rem 7.4rem 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: auto;
    width: 32.7rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    background-color: white;
}

.card-image {
    width: 32.7rem;
    height: 20rem;
}

.card-image>img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.card-text {
    padding: 0 3.5rem 0 3.5rem;
}

.card-title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--very-dark-grayish-blue);
}

.card-description {
    padding: 2rem 0 0 0;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--desaturated-dark-blue);
    line-height: 2rem;
}

.profile {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 3.5rem 2rem 3.5rem;
}

.profile>img {
    border-radius: 3rem;
    width: 4rem;
    height: 4rem;
}

.profile-name {
    color: var(--very-dark-grayish-blue);
    width: 13rem;
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 0 3rem 0 2rem;
}

.profile-name>span {
    color: var(--grayish-blue)
}

.profile-links {
    background: url("./images/icon-share.svg") no-repeat center center;
    background-color: var(--light-grayish-blue);
    border-radius: 2rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
    z-index: 2;
}

.share {

    position: absolute;
    display: none;
    background-color: var(--very-dark-grayish-blue);
    padding: 2rem;
    flex-direction: row;
    gap: 2rem;
    font-size: 1.3rem;
    color: var(--grayish-blue);
    letter-spacing: 0.5rem;
    border-radius: 0 0 1rem 1rem;
    top: 515px;
    width: 32.7rem;

}

@media screen and (min-width: 800px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1440px;
        height: 800px;
    }

    .card {
        margin: auto;
        width: 73rem;
        height: 28rem;
        flex-direction: row;
    }

    .card-image {
        width: 30%;
    }

    .card-contain {
        width: 70%;
        position: relative;
    }

    .card-image {
        width: 40rem;
        height: auto;
    }

    .card-image>img {
        border-radius: 1rem 0 0 1rem;
        object-fit: cover;
    }

    .card-text {
        padding: 3.2rem 4rem 2rem 0.5rem;
    }

    .card-title {
        font-size: 2rem;
    }

    .profile {
        padding: inherit;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .profile-name {
        margin: 0 12rem 0 2rem;
    }

    .profile-name>span {
        font-weight: 500;
    }

    .profile-links {
        padding: 1.7rem;
    }

    .share {
        width: 25rem;
        top: 130px;
        left: 195px;
        border-radius: 1rem;
        padding: 2rem 3rem 1.5rem 3rem;
    }

    .share-triangle {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 13px solid var(--very-dark-grayish-blue);
        left: 118px;
        top: 55px;

    }

}